# Arquivos de Ambiente e Senhas
.env
.env.local

# Arquivos de Sessão do Telethon (Locais)
*.session
*.session-journal

# Compilados do Python
__pycache__/
*.pyc

# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos do Sistema
.DS_Store
Thumbs.db